<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  </head>
  <body class="container mx-auto py-4">
    <main>
      <%= react_component("Home") %>
    </main>
  </body>
</html>
